<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 5 | Notebook 1: Data Cleaning & Merging

### Carly Sharma, Jake Parker, & Adam Zucker

**CONTENTS:**
- California Wildfire Incidents dataset (from [Kaggle](https://www.kaggle.com/ananthu017/california-wildfire-incidents-20132020?select=California_Fire_Incidents.csv))
- Meteorological data (from [NOAA](https://www.ncei.noaa.gov/metadata/geoportal/rest/metadata/item/gov.noaa.ncdc:C00946/html))
- Atmospheric carbon level data (from [NOAA/Mauna Loa Observatory](https://www.esrl.noaa.gov/gmd/dv/data/index.php?parameter_name=Carbon%2BDioxide&search=mauna+loa))

**BELOW:** Package imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import datetime

---

### NOAA Meteorological Data

In [2]:
# Importing a series of NOAA datasets showing weather statistics in California from 2017 to present.
df1 = pd.read_csv('../data_raw/df_2017_01_04.csv')
df2 = pd.read_csv('../data_raw/df_2017_05_08.csv')
df3 = pd.read_csv('../data_raw/df_2017_09_12.csv')
df4 = pd.read_csv('../data_raw/df_2018_01_04.csv')
df5 = pd.read_csv('../data_raw/df_2018_05_08.csv')
df6 = pd.read_csv('../data_raw/df_2018_09_12.csv')
df7 = pd.read_csv('../data_raw/df_2019_01_04.csv')
df8 = pd.read_csv('../data_raw/df_2019_05_08.csv')
df9 = pd.read_csv('../data_raw/df_2019_09_12.csv')
df10 = pd.read_csv('../data_raw/df_2020_01_04.csv')
df11 = pd.read_csv('../data_raw/df_2020_05_08.csv')
df12 = pd.read_csv('../data_raw/df_2020_09_11.csv')

In [3]:
# Concatenating dfs in reverse chronological order
noaa_df = pd.concat([df12, df11, df10, df9, df8, df7, df6, df5, df4, df3, df2, df1])
noaa_df.shape

(46567, 60)

In [4]:
noaa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46567 entries, 0 to 4291
Data columns (total 60 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    46567 non-null  object
 1   NAME       46567 non-null  object
 2   LATITUDE   46567 non-null  float64
 3   LONGITUDE  46567 non-null  float64
 4   ELEVATION  46567 non-null  float64
 5   DATE       46567 non-null  object
 6   AWND       3523 non-null   float64
 7   CDSD       23339 non-null  float64
 8   CLDD       25371 non-null  float64
 9   DP01       33320 non-null  float64
 10  DP10       33320 non-null  float64
 11  DSND       8426 non-null   float64
 12  DSNW       14525 non-null  float64
 13  DT00       25414 non-null  float64
 14  DT32       25414 non-null  float64
 15  DX32       25473 non-null  float64
 16  DX70       25473 non-null  float64
 17  DX90       25473 non-null  float64
 18  EMNT       25414 non-null  float64
 19  EMSD       8426 non-null   float64
 20  EMSN       14525 non-null  float64
 21  EMXP       33320 non-null  float64
 22  EMXT       25473 non-null  float64
 23  EVAP       520 non-null    float64
 24  HDSD       23041 non-null  float64
 25  HN01       44 non-null     float64
 26  HN02       44 non-null     float64
 27  HN03       44 non-null     float64
 28  HTDD       25371 non-null  float64
 29  HX01       44 non-null     float64
 30  HX02       44 non-null     float64
 31  HX03       44 non-null     float64
 32  LN01       44 non-null     float64
 33  LN02       44 non-null     float64
 34  LN03       44 non-null     float64
 35  LX01       44 non-null     float64
 36  LX02       44 non-null     float64
 37  LX03       44 non-null     float64
 38  MN01       44 non-null     float64
 39  MN02       44 non-null     float64
 40  MN03       44 non-null     float64
 41  MNPN       420 non-null    float64
 42  MX01       44 non-null     float64
 43  MX02       44 non-null     float64
 44  MX03       44 non-null     float64
 45  MXPN       423 non-null    float64
 46  PRCP       34109 non-null  float64
 47  SNOW       14525 non-null  float64
 48  TAVG       25390 non-null  float64
 49  TMAX       25473 non-null  float64
 50  TMIN       25414 non-null  float64
 51  WDF2       3446 non-null   float64
 52  WDF5       3390 non-null   float64
 53  WDFG       42 non-null     float64
 54  WDMV       422 non-null    float64
 55  WSF2       3446 non-null   float64
 56  WSF5       3396 non-null   float64
 57  WSFG       42 non-null     float64
 58  PSUN       0 non-null      float64
 59  TSUN       0 non-null      float64
dtypes: float64(57), object(3)
memory usage: 21.7+ MB

In [5]:
# Converting the contents of the 'DATE' column to datetime objects
noaa_df['DATE'] = pd.to_datetime(noaa_df['DATE'])

# Sorting df by date
noaa_df = noaa_df.sort_values(by=['DATE'], ascending=False)

# Resetting NOAA dataframe index
noaa_df.reset_index(drop=True, inplace=True)

In [6]:
noaa_df.head(3)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CDSD,CLDD,DP01,...,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG,PSUN,TSUN
0,USW00023190,"SANTA BARBARA MUNICIPAL AIRPORT, CA US",34.42580,-119.84250,2.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00023232,"SACRAMENTO EXECUTIVE AIRPORT, CA US",38.50690,-121.49500,4.6,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00003171,"RIVERSIDE MUNICIPAL AIRPORT, CA US",33.95194,-117.43861,245.2,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

**BELOW:** Defining a preliminary list of features to drop based on the NOAA data dictionary, as some features seemed to be either redundant, or not germane to our broader look at California wildfires. We also chose to drop features where over roughly 90% the values were null. We decided to make this a list of features for the sake of editability, rather than hard-code the list into the `.drop()` function in the following cells.

In [7]:
drops = ['HN01', 'HN02', 'HN03', 'HX01', 'HX02', 'HX03', 'LN01', 'LN02', 'LX01', 'LX02', 'LX03', 'LN03', 'MN01', 'MN02', 'MN03',
         'MX01', 'MX02', 'MX03', 'PSUN', 'TSUN', 'WDF2', 'WDF5', 'WDFG', 'EVAP', 'MNPN', 'MXPN', 'WDMV']

In [8]:
noaa_df = noaa_df.drop(columns=drops)
noaa_df.head(3)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CDSD,CLDD,DP01,...,HDSD,HTDD,PRCP,SNOW,TAVG,TMAX,TMIN,WSF2,WSF5,WSFG
0,USW00023190,"SANTA BARBARA MUNICIPAL AIRPORT, CA US",34.42580,-119.84250,2.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00023232,"SACRAMENTO EXECUTIVE AIRPORT, CA US",38.50690,-121.49500,4.6,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00003171,"RIVERSIDE MUNICIPAL AIRPORT, CA US",33.95194,-117.43861,245.2,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
noaa_df.isnull().sum()

STATION          0
NAME             0
LATITUDE         0
LONGITUDE        0
ELEVATION        0
DATE             0
AWND         43044
CDSD         23228
CLDD         21196
DP01         13247
DP10         13247
DSND         38141
DSNW         32042
DT00         21153
DT32         21153
DX32         21094
DX70         21094
DX90         21094
EMNT         21153
EMSD         38141
EMSN         32042
EMXP         13247
EMXT         21094
HDSD         23526
HTDD         21196
PRCP         12458
SNOW         32042
TAVG         21177
TMAX         21094
TMIN         21153
WSF2         43121
WSF5         43171
WSFG         46525
dtype: int64

**BELOW:** After further exploration of the data dictionary, creating a second list of redundant columns to drop.

In [10]:
redundants = ['CDSD', 'WSF2', 'WSF5', 'WSFG', 'DSNW', 'HDSD', 'EMSD']

In [11]:
noaa_df = noaa_df.drop(columns=redundants)

In [12]:
noaa_df.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
       'CLDD', 'DP01', 'DP10', 'DSND', 'DT00', 'DT32', 'DX32', 'DX70', 'DX90',
       'EMNT', 'EMSN', 'EMXP', 'EMXT', 'HTDD', 'PRCP', 'SNOW', 'TAVG', 'TMAX',
       'TMIN'],
      dtype='object')

---

**BELOW:** Here, we're creating a column of counties corresponding to the latitude and longitude data in our dataframe.

In [13]:
# First, engineering a lat + long column
noaa_df['GEOM'] = noaa_df['LATITUDE'].map(str) + ',' + noaa_df['LONGITUDE'].map(str)
noaa_df['GEOM'][0:2]

0    34.4258,-119.8425
1     38.5069,-121.495
Name: GEOM, dtype: object

In [14]:
# Writing a function that creates a list of counties using the GEOM column
# Reference: https://towardsdatascience.com/reverse-geocoding-in-python-a915acf29eb6
# Reference: https://www.w3resource.com/python-exercises/geopy/python-geopy-nominatim_api-exercise-6.php

def locate(coordinates):
    locator = Nominatim(user_agent='myGeocoder')
    location = []
    for i in coordinates:
        location.append(locator.reverse(i))
    county_list = []
    for n in location:
        county_list.append(n.raw['address'].get('county'))
    return county_list

In [15]:
# Creating a list of all unique long and lat coordinates
unique_coords = noaa_df['GEOM'].unique()
len(unique_coords)

1360

**NOTE:** The `locate` function defined above times out when run on the entire set of longitude and latitude data, so we'll break it up into smaller sets below, then recombine them after we've extracted location data.

In [16]:
# Generating a list of counties using the function above
# Running function for 400 values at a time
county_list1 = locate(unique_coords[0:401])

In [17]:
# Second batch
county_list2 = locate(unique_coords[401:801])

In [18]:
# Third batch
county_list3 = locate(unique_coords[801:])

In [19]:
# Checking if total matches length of unique_coords list
print(len(county_list1) + len(county_list2) + len(county_list3))
print((len(county_list1) + len(county_list2) + len(county_list3)) == len(unique_coords))

1360
True

In [20]:
# Combining all counties into one list
all_counties = county_list1 + county_list2 + county_list3

# Creating a dictionary with unique_coords and all_counties
county_dict = {unique_coords[i]: all_counties[i] for i in range(len(unique_coords))}

In [21]:
# Mapping dictionary values onto our df
noaa_df['COUNTY'] = noaa_df['GEOM'].map(county_dict)

In [22]:
# Lowercasing 'COUNTY' for compatibility
noaa_df['COUNTY'] = noaa_df['COUNTY'].str.lower()

In [23]:
# Removing 'county' and white space for compatibility
noaa_df['COUNTY'] = noaa_df['COUNTY'].str.replace(' county', '')

In [24]:
noaa_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CLDD,DP01,DP10,...,EMXP,EMXT,HTDD,PRCP,SNOW,TAVG,TMAX,TMIN,GEOM,COUNTY
0,USW00023190,"SANTA BARBARA MUNICIPAL AIRPORT, CA US",34.42580,-119.84250,2.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34.4258,-119.8425",santa barbara
1,USW00023232,"SACRAMENTO EXECUTIVE AIRPORT, CA US",38.50690,-121.49500,4.6,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38.5069,-121.495",sacramento
2,USW00003171,"RIVERSIDE MUNICIPAL AIRPORT, CA US",33.95194,-117.43861,245.2,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"33.95194,-117.43861000000001",riverside
3,USW00023129,"LONG BEACH DAUGHERTY AIRPORT, CA US",33.81160,-118.14630,9.4,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"33.8116,-118.1463",los angeles
4,USW00093193,"FRESNO YOSEMITE INTERNATIONAL, CA US",36.78000,-119.71940,101.5,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"36.78,-119.7194",fresno

In [25]:
noaa_df.shape

(46567, 28)

In [26]:
noaa_df.to_csv('../data_clean/noaa_df_clean.csv', index = False)

---
---

### Kaggle CA Wildfire Data

In [27]:
fire_df = pd.read_csv('../data_raw/California_Fire_Incidents.csv')
fire_df.head(3)

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN

In [28]:
fire_df.shape

(1636, 40)

In [29]:
fire_df.isnull().sum()

AcresBurned                3
Active                     0
AdminUnit                  0
AirTankers              1608
ArchiveYear                0
CalFireIncident            0
CanonicalUrl               0
ConditionStatement      1352
ControlStatement        1525
Counties                   0
CountyIds                  0
CrewsInvolved           1465
Dozers                  1513
Engines                 1445
Extinguished              59
Fatalities              1615
Featured                   0
Final                      0
FuelType                1624
Helicopters             1552
Injuries                1516
Latitude                   0
Location                   0
Longitude                  0
MajorIncident              0
Name                       0
PercentContained           3
PersonnelInvolved       1432
Public                     0
SearchDescription         17
SearchKeywords           203
Started                    0
Status                     0
StructuresDamaged       1569
StructuresDestroyed     1461
StructuresEvacuated     1636
StructuresThreatened    1606
UniqueId                   0
Updated                    0
WaterTenders            1490
dtype: int64

In [30]:
# All True, so we can drop this column - it won't affect the models down the road
fire_df['Public'].value_counts()

True    1636
Name: Public, dtype: int64

In [31]:
# We'll drop this column - it just determines if the fire was classified as a "California Fire Incident", which won't be a valuable predictor
fire_df['CalFireIncident'].value_counts()

True     1251
False     385
Name: CalFireIncident, dtype: int64

In [32]:
# Will drop because all are False
fire_df['Active'].value_counts()

False    1636
Name: Active, dtype: int64

In [33]:
# Will drop this too
fire_df['UniqueId'].value_counts()

90b0daf7-5d84-42d9-bb35-bb78d4faf950    4
5ce45b6c-81b5-422c-9078-8c68dd872c8a    4
af30fe23-6cfd-4fd6-b2d9-91648eeae814    3
97ff14e8-6d08-4214-ad3b-847fa3a0e84a    2
be79d28c-767d-4a0d-b168-e86a5842004f    2
                                       ..
50567f4a-c56d-4d73-9855-f5d81fa74025    1
d922e7c8-814a-412b-a40b-53072d0983ea    1
2c241790-d062-4b15-9a25-8e511c0febab    1
791a3a00-2c51-4679-b4b7-27cc77ec699d    1
45845135-0abc-4964-9038-db1e26fa9b22    1
Name: UniqueId, Length: 1609, dtype: int64

In [34]:
# Will drop this too
fire_df['Status'].value_counts()

Finalized    1634
Inactive        2
Name: Status, dtype: int64

**BELOW:** Defining a preliminary list of features to drop based on a high percentage of nulls, and relevancy to our topic. We decided to make this a list of features for the sake of editability, rather than hard-code the list into the `drop` function in the following cells.

In [35]:
fire_drops = ['Active', 'AirTankers', 'CalFireIncident', 'CanonicalUrl', 'ConditionStatement', 'ControlStatement', 'CrewsInvolved',  
              'Dozers', 'Engines', 'Fatalities', 'Featured', 'Final', 'FuelType', 'Helicopters', 'Injuries', 'Location', 'PersonnelInvolved',  
              'Public', 'SearchDescription', 'SearchKeywords', 'Status', 'StructuresDamaged', 'StructuresDestroyed', 'StructuresEvacuated', 
              'StructuresThreatened', 'UniqueId', 'Updated', 'WaterTenders']

In [36]:
fire_df = fire_df.drop(columns=fire_drops)
fire_df.head(3)

,AcresBurned,AdminUnit,ArchiveYear,Counties,CountyIds,Extinguished,Latitude,Longitude,MajorIncident,Name,PercentContained,Started
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06T18:30:00Z,37.857000,-120.086000,False,Rim Fire,100.0,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08T18:30:00Z,34.585595,-118.423176,False,Powerhouse Fire,100.0,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30T18:00:00Z,33.709500,-116.728850,False,Mountain Fire,100.0,2013-07-15T13:43:00Z

In [37]:
fire_df.isnull().sum()

AcresBurned          3
AdminUnit            0
ArchiveYear          0
Counties             0
CountyIds            0
Extinguished        59
Latitude             0
Longitude            0
MajorIncident        0
Name                 0
PercentContained     3
Started              0
dtype: int64

In [38]:
# Lowercasing abd renaming 'Counties' for compatibility
fire_df['Counties'] = fire_df['Counties'].str.lower()

fire_df = fire_df.rename(columns={'Counties': 'COUNTY'})

In [39]:
# Converting the contents of the 'DATE' column to datetime objects
fire_df['Started'] = pd.to_datetime(fire_df['Started'])
fire_df['Extinguished'] = pd.to_datetime(fire_df['Extinguished'])

In [40]:
# Creating a feature to reflect the duration of each fire
fire_df['Duration'] = fire_df['Extinguished'] - fire_df['Started']

In [41]:
fire_df.dtypes

AcresBurned                     float64
AdminUnit                        object
ArchiveYear                       int64
COUNTY                           object
CountyIds                        object
Extinguished        datetime64[ns, UTC]
Latitude                        float64
Longitude                       float64
MajorIncident                      bool
Name                             object
PercentContained                float64
Started             datetime64[ns, UTC]
Duration                timedelta64[ns]
dtype: object

In [42]:
# Reorganizing df columns
fire_df = fire_df[['CountyIds', 'COUNTY', 'Latitude', 'Longitude', 'AdminUnit', 'Name', 'AcresBurned', 'Started',  
                   'Extinguished', 'Duration', 'ArchiveYear', 'PercentContained', 'MajorIncident']]

In [43]:
fire_df.head(3)

,CountyIds,COUNTY,Latitude,Longitude,AdminUnit,Name,AcresBurned,Started,Extinguished,Duration,ArchiveYear,PercentContained,MajorIncident
0,55,tuolumne,37.857000,-120.086000,Stanislaus National Forest/Yosemite National Park,Rim Fire,257314.0,2013-08-17 15:25:00+00:00,2013-09-06 18:30:00+00:00,20 days 03:05:00,2013,100.0,False
1,19,los angeles,34.585595,-118.423176,USFS Angeles National Forest/Los Angeles Count...,Powerhouse Fire,30274.0,2013-05-30 15:28:00+00:00,2013-06-08 18:30:00+00:00,9 days 03:02:00,2013,100.0,False
2,33,riverside,33.709500,-116.728850,CAL FIRE Riverside Unit / San Bernardino Natio...,Mountain Fire,27531.0,2013-07-15 13:43:00+00:00,2013-07-30 18:00:00+00:00,15 days 04:17:00,2013,100.0,False

In [44]:
fire_df.isnull().sum()

CountyIds            0
COUNTY               0
Latitude             0
Longitude            0
AdminUnit            0
Name                 0
AcresBurned          3
Started              0
Extinguished        59
Duration            59
ArchiveYear          0
PercentContained     3
MajorIncident        0
dtype: int64

In [45]:
fire_df.shape

(1636, 13)

In [46]:
fire_df.to_csv('../data_clean/fire_df_clean.csv', index = False)

---
---

### NOAA/Mauna Loa Atmospheric Carbon Data

In [47]:
# Reading in carbon txt data, specifying a space as the separator.
carbon_df = pd.read_csv('../data_raw/co2_mlo_surface-insitu_DailyData.txt', sep=' ', header=None)
carbon_df.columns = ['site_code', 'year', 'month', 'day', 'hour', 'minute', 'second', 'time_decimal',
             'value', 'value_std_dev', 'nvalue', 'latitude', 'longitude', 'altitude', 'elevation', 'intake_height', 'qcflag']

In [48]:
carbon_df.head(3)

,site_code,year,month,day,hour,minute,second,time_decimal,value,value_std_dev,nvalue,latitude,longitude,altitude,elevation,intake_height,qcflag
0,MLO,1973,1,1,0,0,0,1973.000000,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,*..
1,MLO,1973,1,2,0,0,0,1973.002740,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,*..
2,MLO,1973,1,3,0,0,0,1973.005479,-999.99,-99.99,0,19.536,-155.576,3437.0,3397.0,40.0,*..

In [49]:
# Dropping data from years prior to 2000
carbon_df = carbon_df[(carbon_df['year'] >= 2000)]

In [50]:
# Resetting carbon dataframe index
carbon_df.reset_index(drop=True, inplace=True)

In [51]:
carbon_df.head(3)

,site_code,year,month,day,hour,minute,second,time_decimal,value,value_std_dev,nvalue,latitude,longitude,altitude,elevation,intake_height,qcflag
0,MLO,2000,1,1,0,0,0,2000.000000,368.84,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,...
1,MLO,2000,1,2,0,0,0,2000.002732,368.82,0.16,13,19.536,-155.576,3437.0,3397.0,40.0,...
2,MLO,2000,1,3,0,0,0,2000.005464,368.75,0.12,12,19.536,-155.576,3437.0,3397.0,40.0,...

In [52]:
carbon_df.shape

(7305, 17)

In [53]:
# We can drop thid because all the data is from Mauna Loa Observatory
carbon_df['site_code'].value_counts()

MLO    7305
Name: site_code, dtype: int64

In [54]:
# According to the data dictionary, "*.." means the sample was rejected
carbon_df['qcflag'].value_counts()

...    6436
*..     869
Name: qcflag, dtype: int64

In [55]:
carbon_df['qcflag'] = carbon_df['qcflag'].map({'...': 'pass', '*..': 'fail'})

In [56]:
carbon_df['qcflag'].value_counts()

pass    6436
fail     869
Name: qcflag, dtype: int64

In [57]:
# Dropping rows with faulty samples ('fail' in 'qcflag')
carbon_df = carbon_df[carbon_df['qcflag'] != 'fail']
carbon_df.head()

,site_code,year,month,day,hour,minute,second,time_decimal,value,value_std_dev,nvalue,latitude,longitude,altitude,elevation,intake_height,qcflag
0,MLO,2000,1,1,0,0,0,2000.000000,368.84,0.09,15,19.536,-155.576,3437.0,3397.0,40.0,pass
1,MLO,2000,1,2,0,0,0,2000.002732,368.82,0.16,13,19.536,-155.576,3437.0,3397.0,40.0,pass
2,MLO,2000,1,3,0,0,0,2000.005464,368.75,0.12,12,19.536,-155.576,3437.0,3397.0,40.0,pass
3,MLO,2000,1,4,0,0,0,2000.008197,368.82,0.13,13,19.536,-155.576,3437.0,3397.0,40.0,pass
4,MLO,2000,1,5,0,0,0,2000.010929,368.66,0.10,14,19.536,-155.576,3437.0,3397.0,40.0,pass

In [58]:
# All values the same - will drop
carbon_df['intake_height'].value_counts()

40.0    6436
Name: intake_height, dtype: int64

In [59]:
# All values the same - will drop
carbon_df['elevation'].value_counts()

3397.0    6436
Name: elevation, dtype: int64

In [60]:
# All values the same - will drop
carbon_df['altitude'].value_counts()

3437.0    6436
Name: altitude, dtype: int64

In [61]:
# Defining a list of columns to drop in the atmospheric carbon dataframe
carbon_drops = ['site_code', 'hour', 'minute', 'second', 'time_decimal', 'elevation', 'intake_height', 'altitude']

In [62]:
# Dropping columns
carbon_df = carbon_df.drop(columns=carbon_drops)
carbon_df.head(3)

   year  month  day   value  value_std_dev  nvalue  latitude  longitude qcflag
0  2000      1    1  368.84           0.09      15    19.536   -155.576   pass
1  2000      1    2  368.82           0.16      13    19.536   -155.576   pass
2  2000      1    3  368.75           0.12      12    19.536   -155.576   pass

In [63]:
carbon_df.shape

(6436, 9)

In [64]:
carbon_df.to_csv('../data_clean/carbon_df_clean.csv', index = False)

---
---

### Merging & Cleaning Data

In [65]:
df2 = pd.read_csv('../data_clean/fire_df_clean.csv')
df3 = pd.read_csv('../data_clean/carbon_df_clean.csv')

In [66]:
# Reference: https://stackabuse.com/converting-strings-to-datetime-in-python/
time = [(str(df3['year'][x]) + '-' + str(df3['month'][x])+ '-' +str(df3['day'][x])) for x in range(len(df3['year']))]
df3['time'] = time
df3.drop(columns=['year', 'month', 'day', 'latitude', 'longitude'], inplace=True) 
date_time_obj = [datetime.datetime.strptime(x, '%Y-%m-%d') for x in df3['time']]
df3['time'] = date_time_obj

df2['time'] = [df2['Started'][x].split()[0] for x in range(len(df2['Started']))]
date_time_obj = [datetime.datetime.strptime(x, '%Y-%m-%d') for x in df2['time']]
df2['time'] = date_time_obj

master_df = df2.merge(df3, how='inner', on='time')

In [67]:
master_df.head()

,CountyIds,COUNTY,Latitude,Longitude,AdminUnit,Name,AcresBurned,Started,Extinguished,Duration,ArchiveYear,PercentContained,MajorIncident,time,value,value_std_dev,nvalue,qcflag
0,55,tuolumne,37.857000,-120.086000,Stanislaus National Forest/Yosemite National Park,Rim Fire,257314.0,2013-08-17 15:25:00+00:00,2013-09-06 18:30:00+00:00,20 days 03:05:00,2013,100.0,False,2013-08-17,394.91,0.15,6,pass
1,36,san bernardino,34.287000,-117.451000,San Bernardino National Forest,Cleghorn Fire,110.0,2013-08-17 17:25:00+00:00,2013-08-18 20:55:00+00:00,1 days 03:30:00,2013,100.0,False,2013-08-17,394.91,0.15,6,pass
2,5,calaveras,38.062310,-120.452330,CAL FIRE Tuolumne-Calaveras Unit,Bridges Fire,46.0,2013-08-17 10:11:00+00:00,2013-08-19 07:10:00+00:00,1 days 20:59:00,2013,100.0,True,2013-08-17,394.91,0.15,6,pass
3,19,los angeles,34.585595,-118.423176,USFS Angeles National Forest/Los Angeles Count...,Powerhouse Fire,30274.0,2013-05-30 15:28:00+00:00,2013-06-08 18:30:00+00:00,9 days 03:02:00,2013,100.0,False,2013-05-30,399.91,0.08,5,pass
4,39,san joaquin,38.049930,-120.903250,CAL FIRE Tuolumne-Calaveras Unit,Shelton Fire,303.0,2013-05-30 11:20:00+00:00,2013-05-30 13:25:00+00:00,0 days 02:05:00,2013,100.0,False,2013-05-30,399.91,0.08,5,pass

In [68]:
master_df.shape

(1432, 18)

In [69]:
master_df.isnull().sum()

CountyIds            0
COUNTY               0
Latitude             0
Longitude            0
AdminUnit            0
Name                 0
AcresBurned          3
Started              0
Extinguished        54
Duration            54
ArchiveYear          0
PercentContained     3
MajorIncident        0
time                 0
value                0
value_std_dev        0
nvalue               0
qcflag               0
dtype: int64

In [70]:
master_df.to_csv('../data_clean/master_df1.csv', index = False)

---

In [71]:
master = pd.read_csv('../data_clean/master_df1.csv')
noaa = pd.read_csv('../data_clean/noaa_df_clean.csv')

In [72]:
# Rounding the dates of fire by month
new_time = []
for x in master['time']:
    temp = x.split('-')
    temp[2] = '01'
    temp = '-'.join(temp)
    new_time.append(temp)
master['time'] = new_time

In [73]:
master['time/place'] = master['time']+master['COUNTY']

In [74]:
noaa['time/place'] = noaa['DATE']+noaa['COUNTY']

In [75]:
noaa.drop(columns=['STATION','NAME',], inplace = True)

In [76]:
# Reference: https://stackoverflow.com/questions/4130922/how-to-increment-datetime-by-custom-months-in-python-without-using-library
import calendar

def add_months(sourcedate, months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day, calendar.monthrange(year,month)[1])
    return datetime.date(year, month, day)

In [77]:
start_date = '2017-01-01'
date_time_obj = datetime.datetime.strptime(start_date, '%Y-%m-%d')
start_date = date_time_obj

start_date = add_months(start_date, 1)
start_date

datetime.date(2017, 2, 1)

In [78]:
noaa = noaa[noaa['COUNTY'].notna()]

In [79]:
county_list = noaa['COUNTY'].unique()
end_date = '2020-09-01'
date_time_obj = datetime.datetime.strptime(end_date, '%Y-%m-%d')
end_date = date_time_obj
true_list = []
for county in county_list:
    start_date = '2017-01-01'
    date_time_obj = datetime.datetime.strptime(start_date, '%Y-%m-%d')
    start_date = date_time_obj
    print(county)
    while start_date.strftime('%Y-%m-%d') != end_date.strftime('%Y-%m-%d'): 
        day_county_info = []
        average_Elevation = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['ELEVATION'].mean()
        average_AWND = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['AWND'].mean()
        average_CLDD = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['CLDD'].mean()
        average_DP01 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DP01'].mean()
        average_DP10 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DP10'].mean()
        average_DSND = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DSND'].mean()
        average_DT00 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DT00'].mean()
        average_DT32 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DT32'].mean()
        average_DX32 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DX32'].mean()
        average_DX70 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DX70'].mean()
        average_DC90 = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['DX90'].mean()
        average_EMNT = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['EMNT'].mean()
        average_EMSN = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['EMSN'].mean()
        average_EMXP = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['EMXP'].mean()
        average_EMXT = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['EMXT'].mean()
        average_HTDD = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['HTDD'].mean()
        average_PRCP = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['PRCP'].mean()
        average_SNOW = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['SNOW'].mean()
        average_TAVG = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['TAVG'].mean()
        average_TMAX = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['TMAX'].mean()
        average_TMIN = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['TMIN'].mean()
        #average_GEOM = noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['GEOM'].mean()
        time_place = set(noaa[noaa['time/place'] == (start_date.strftime('%Y-%m-%d')+county)]['time/place'])
        time_place = list(time_place)[0]
        day_county_info = [average_CLDD,average_Elevation,average_AWND,average_DP01,average_DP10,average_DSND,
                               average_DT00,average_DT32,average_DX32,average_DX70,average_DC90,average_EMNT,
                               average_EMSN,average_EMXP,average_EMXT,average_HTDD,average_PRCP,average_SNOW,
                               average_TAVG,average_TMAX,average_TMIN,time_place]
        true_list.append(day_county_info)
        start_date = add_months(start_date,1)

santa barbara
sacramento
riverside
los angeles
fresno
tehama
alameda
siskiyou
kings
shasta
san diego
san luis obispo
del norte
san bernardino
humboldt
monterey
solano
ventura
sonoma
stanislaus
orange
mendocino
napa
san mateo
santa clara
san joaquin
el dorado
merced
modoc
kern
santa cruz
placer
madera
imperial
contra costa
yuba
trinity
inyo
glenn
alpine
butte
marin
mariposa
lassen
nevada
tuolumne
colusa
san benito
mono
san francisco city and
sierra
plumas
tulare
yolo
lake
amador
klamath
calaveras
sutter

In [80]:
column_list = ['CLDD', 'ELEVATION', 'AWND',  'DP01',
       'DP10', 'DSND', 'DT00', 'DT32', 'DX32', 'DX70', 'DX90', 'EMNT', 'EMSN',
       'EMXP', 'EMXT', 'HTDD', 'PRCP', 'SNOW', 'TAVG', 'TMAX', 'TMIN',  'time/place']

# Creating a new NOAA df, replacing lat and long with corresponding county names, dropping redundant/unnecessary columns
clean_average_noaa = pd.DataFrame(true_list, columns=column_list)

In [81]:
# Merging cleaned NOAA weather data with our cleaned master df, containing CA fire and atmospheric carbon data
master = master.merge(clean_average_noaa, how='inner', on='time/place')

In [82]:
# Imputing values for the 3 nulls in 'AcresBurned', referencine online records of these fires
# Reference: 
master.at[688,'AcresBurned'] = 100
master.at[709,'AcresBurned'] = 60
master.at[745,'AcresBurned'] = 140

In [83]:
# Converting all objects in the 'Duration' column to integer values
master['Duration'] = [int(master['Duration'][x].split()[0]) if type(master['Duration'][x]) != float else master['Duration'][x] for x in range(len(master['Duration']))]

In [84]:
master.head()

,CountyIds,COUNTY,Latitude,Longitude,AdminUnit,Name,AcresBurned,Started,Extinguished,Duration,...,EMNT,EMSN,EMXP,EMXT,HTDD,PRCP,SNOW,TAVG,TMAX,TMIN
0,"42,56",santa barbara,34.415210,-119.091240,US Forest Service - Los Padres National Forest,Thomas Fire,281893.0,2017-12-04 18:28:00+00:00,2019-03-14 11:24:00+00:00,464.0,...,33.076923,0.0,0.006000,81.153846,265.076923,0.007273,0.0,56.830769,69.884615,43.807692
1,42,santa barbara,34.717960,-120.270770,Santa Barbara County Fire,Drum Fire,14.0,2017-12-16 12:21:00+00:00,2018-01-09 13:49:00+00:00,24.0,...,33.076923,0.0,0.006000,81.153846,265.076923,0.007273,0.0,56.830769,69.884615,43.807692
2,42,santa barbara,34.605358,-120.414875,Santa Barbara County Fire,Coast Fire,14.0,2017-12-14 12:59:00+00:00,2018-01-09 13:49:00+00:00,26.0,...,33.076923,0.0,0.006000,81.153846,265.076923,0.007273,0.0,56.830769,69.884615,43.807692
3,"42,56",ventura,34.415210,-119.091240,US Forest Service - Los Padres National Forest,Thomas Fire,281893.0,2017-12-04 18:28:00+00:00,2019-03-14 11:24:00+00:00,464.0,...,31.583333,0.0,0.000909,83.916667,281.666667,0.000909,0.0,56.675000,70.583333,42.758333
4,33,riverside,33.965140,-117.476400,CAL FIRE/Riverside County Fire and Riverside C...,Riverdale Fire,40.0,2017-12-04 12:26:00+00:00,2018-01-09 13:47:00+00:00,36.0,...,31.863636,0.0,0.000690,81.227273,252.454545,0.000667,0.0,57.077273,70.222727,43.940909

---

**BELOW:** Defining bins for the number of acres burned in a fire, then appending them as a new column to our master dataframe. The bins will ultimately be our target variable, and are defined as follows:
- **Bin 0:** 50 acres or below
- **Bin 1:** 100 acres or below, and greater than 50 acres
- **Bin 2:** 250 acres or below, and greater than 100 acres
- **Bin 3:** 500 acres or below, and greater than 250 acres
- **Bin 4:** 1000 acres or below, and greater than 500 acres
- **Bin 5:** Greater than 1000 acres

In [85]:
# Engineering a new column, 'acres_burned_bin'
bins = []
for x in master['AcresBurned']:
    if x <= 50:
        bins.append(0)
    elif x>50 and x <= 100:
        bins.append(1)
    elif x >100 and x <= 250:
        bins.append(2)
    elif x > 250 and x <= 500:
        bins.append(3)
    elif x > 500 and x <= 1000:
        bins.append(4)
    elif x > 1000:
        bins.append(5)
master['fire_bins'] = bins

---

In [86]:
# Defining a list of columns to drop
drops = ['CountyIds', 'ArchiveYear', 'time/place']

# Dropping unnecessary columns
master = master.drop(columns=drops)

# Lowercasing all column names
master.columns = master.columns.str.lower()

In [87]:
master.columns

Index(['county', 'latitude', 'longitude', 'adminunit', 'name', 'acresburned',
       'started', 'extinguished', 'duration', 'percentcontained',
       'majorincident', 'time', 'value', 'value_std_dev', 'nvalue', 'qcflag',
       'cldd', 'elevation', 'awnd', 'dp01', 'dp10', 'dsnd', 'dt00', 'dt32',
       'dx32', 'dx70', 'dx90', 'emnt', 'emsn', 'emxp', 'emxt', 'htdd', 'prcp',
       'snow', 'tavg', 'tmax', 'tmin', 'fire_bins'],
      dtype='object')

In [88]:
# Renaming columns for more clarity
master = master.rename(columns={'county_x': 'county', 'name': 'fire_name', 'adminunit': 'admin_unit', 'acresburned': 'acres_burned', 'percentcontained': 'pct_contained',
                       'majorincident': 'major_incident', 'time': 'date', 'value': 'co2_measured_mole_fraction', 'nvalue': 'co2_number_of_measurements',
                       'qcflag': 'qc_flag', 'awnd': 'avg_wind_speed', 'cldd': 'cooling_degree_days', 'emnt': 'extreme_min_temp', 'emsn': 'highest_daily_snowfall',
                       'emxp': 'highest_daily_precipitation', 'emxt': 'extreme_max_temp', 'htdd': 'heating_degree_days', 'prcp': 'total_monthly_precipitation',
                       'snow': 'total_monthly_snowfall', 'tavg': 'avg_monthly_temp', 'tmax': 'max_monthly_temp', 'tmin': 'min_monthly_temp'})

# Sorting columns for more clarity
master = master[['date', 'county', 'latitude', 'longitude', 'fire_name', 'acres_burned', 'fire_bins', 'duration', 'started', 'extinguished', 'pct_contained', 
                 'major_incident', 'admin_unit', 'avg_wind_speed', 'avg_monthly_temp', 'max_monthly_temp', 'extreme_max_temp', 'min_monthly_temp', 
                 'extreme_min_temp', 'total_monthly_precipitation', 'highest_daily_precipitation', 'total_monthly_snowfall', 'highest_daily_snowfall', 
                 'dsnd', 'dp01', 'dp10', 'dt00', 'dt32', 'dx32', 'dx70', 'cooling_degree_days', 'heating_degree_days', 'elevation', 'co2_measured_mole_fraction', 
                 'value_std_dev', 'co2_number_of_measurements', 'qc_flag']]

In [89]:
master.head()

,date,county,latitude,longitude,fire_name,acres_burned,fire_bins,duration,started,extinguished,...,dt32,dx32,dx70,cooling_degree_days,heating_degree_days,elevation,co2_measured_mole_fraction,value_std_dev,co2_number_of_measurements,qc_flag
0,2017-12-01,santa barbara,34.415210,-119.091240,Thomas Fire,281893.0,5,464.0,2017-12-04 18:28:00+00:00,2019-03-14 11:24:00+00:00,...,3.692308,0.0,15.692308,12.153846,265.076923,222.547059,407.21,0.24,14,pass
1,2017-12-01,santa barbara,34.717960,-120.270770,Drum Fire,14.0,0,24.0,2017-12-16 12:21:00+00:00,2018-01-09 13:49:00+00:00,...,3.692308,0.0,15.692308,12.153846,265.076923,222.547059,407.70,0.06,7,pass
2,2017-12-01,santa barbara,34.605358,-120.414875,Coast Fire,14.0,0,26.0,2017-12-14 12:59:00+00:00,2018-01-09 13:49:00+00:00,...,3.692308,0.0,15.692308,12.153846,265.076923,222.547059,406.14,0.16,10,pass
3,2017-12-01,ventura,34.415210,-119.091240,Thomas Fire,281893.0,5,464.0,2017-12-04 18:28:00+00:00,2019-03-14 11:24:00+00:00,...,7.000000,0.0,16.833333,23.416667,281.666667,446.005556,407.21,0.24,14,pass
4,2017-12-01,riverside,33.965140,-117.476400,Riverdale Fire,40.0,0,36.0,2017-12-04 12:26:00+00:00,2018-01-09 13:47:00+00:00,...,2.681818,0.0,17.318182,12.045455,252.454545,534.661905,407.21,0.24,14,pass

---

In [90]:
master.isnull().sum()

date                             0
county                           0
latitude                         0
longitude                        0
fire_name                        0
acres_burned                     0
fire_bins                        0
duration                        54
started                          0
extinguished                    54
pct_contained                    3
major_incident                   0
admin_unit                       0
avg_wind_speed                 184
avg_monthly_temp                 4
max_monthly_temp                 4
extreme_max_temp                 4
min_monthly_temp                 4
extreme_min_temp                 4
total_monthly_precipitation      0
highest_daily_precipitation      0
total_monthly_snowfall           2
highest_daily_snowfall           2
dsnd                            68
dp01                             0
dp10                             0
dt00                             4
dt32                             4
dx32                             4
dx70                             4
cooling_degree_days              4
heating_degree_days              4
elevation                        0
co2_measured_mole_fraction       0
value_std_dev                    0
co2_number_of_measurements       0
qc_flag                          0
dtype: int64

In [91]:
# Imputing small amounts of missing data with feature means where appropriate

master['pct_contained'].fillna((master['pct_contained'].mean()), inplace=True)
master['avg_monthly_temp'].fillna((master['avg_monthly_temp'].mean()), inplace=True)
master['max_monthly_temp'].fillna((master['max_monthly_temp'].mean()), inplace=True)
master['extreme_max_temp'].fillna((master['extreme_max_temp'].mean()), inplace=True)
master['min_monthly_temp'].fillna((master['min_monthly_temp'].mean()), inplace=True)
master['extreme_min_temp'].fillna((master['extreme_min_temp'].mean()), inplace=True)
master['total_monthly_snowfall'].fillna((master['total_monthly_snowfall'].mean()), inplace=True)
master['highest_daily_snowfall'].fillna((master['highest_daily_snowfall'].mean()), inplace=True)
master['dt00'].fillna((master['dt00'].mean()), inplace=True)
master['dt32'].fillna((master['dt32'].mean()), inplace=True)
master['dx32'].fillna((master['dx32'].mean()), inplace=True)
master['dx70'].fillna((master['dx70'].mean()), inplace=True)
master['cooling_degree_days'].fillna((master['cooling_degree_days'].mean()), inplace=True)
master['heating_degree_days'].fillna((master['heating_degree_days'].mean()), inplace=True)

In [92]:
master.isnull().sum()

date                             0
county                           0
latitude                         0
longitude                        0
fire_name                        0
acres_burned                     0
fire_bins                        0
duration                        54
started                          0
extinguished                    54
pct_contained                    0
major_incident                   0
admin_unit                       0
avg_wind_speed                 184
avg_monthly_temp                 0
max_monthly_temp                 0
extreme_max_temp                 0
min_monthly_temp                 0
extreme_min_temp                 0
total_monthly_precipitation      0
highest_daily_precipitation      0
total_monthly_snowfall           0
highest_daily_snowfall           0
dsnd                            68
dp01                             0
dp10                             0
dt00                             0
dt32                             0
dx32                             0
dx70                             0
cooling_degree_days              0
heating_degree_days              0
elevation                        0
co2_measured_mole_fraction       0
value_std_dev                    0
co2_number_of_measurements       0
qc_flag                          0
dtype: int64

---

In [93]:
master.to_csv('../data_clean/true_df_nb1.csv', index = False)