<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 5: Title Here
### Carly Sharma, Jake Parker, & Adam Zucker

---
# Section 1

---

## Problem Statement

lorem ipsum

### Contents
* 
* 
*

----

## Background

---
**For this analysis, we'll be using the following datasets:**
* 
* 
* 

---

## Outside Research

lorem ipsum

**Sources:**
* 
* 
* 
* 

---

# Section 2

---
## Imports

In [1]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [2]:
# read in cleaned weather df
noaa_w_counties = pd.read_csv('noaa_df_init_clean.csv')

In [3]:
noaa_w_counties.head(2)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CLDD,DP01,DP10,...,EMNT,EMSN,EMXP,EMXT,HTDD,PRCP,SNOW,TAVG,TMAX,TMIN
0,USW00003144,"IMPERIAL CO AIRPORT, CA US",32.83417,-115.57861,-17.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00023275,"UKIAH MUNICIPAL AIRPORT, CA US",39.12583,-123.20083,183.2,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# create a lat + long column
noaa_w_counties['GEOM'] = noaa_w_counties['LATITUDE'].map(str) + ',' + noaa_w_counties['LONGITUDE'].map(str)
noaa_w_counties['GEOM'][0:2]

0    32.83417,-115.57861
1    39.12583,-123.20083
Name: GEOM, dtype: object

In [5]:
# write a function that creates a list of counties using the GEOM column
# reference: https://towardsdatascience.com/reverse-geocoding-in-python-a915acf29eb6
# reference: https://www.w3resource.com/python-exercises/geopy/python-geopy-nominatim_api-exercise-6.php

def locate(coordinates):
    locator = Nominatim(user_agent='myGeocoder')
    location = []
    for i in coordinates:
        location.append(locator.reverse(i))
    county_list = []
    for n in location:
        county_list.append(n.raw['address'].get('county'))
    return county_list

In [6]:
# this timed out while running
# use function, get list of counties
# counties = locate(noaa_w_counties['GEOM'])

In [6]:
# find list of all unique lon/lat coordinates
unique_coords = noaa_w_counties['GEOM'].unique()
len(unique_coords)

1289

In [9]:
# run function 250 at a time
county_list = locate(unique_coords[0:250])

In [11]:
# second batch of 250
county_list2 = locate(unique_coords[250:501])

In [10]:
# third batch
county_list3 = locate(unique_coords[501:751])

In [12]:
# fourth batch
county_list4 = locate(unique_coords[751: 1001])

In [13]:
# final batch
county_list5 = locate(unique_coords[1001:])

In [14]:
# check if total matches length of unique_coords list
len(county_list) + len(county_list2) + len(county_list3) + len(county_list4) + len(county_list5)

1289

In [20]:
# combine into one list
all_counties = county_list + county_list2 + county_list3 + county_list4 + county_list5

In [23]:
# create a dictionary with unique_coords and all_counties
county_dict = {unique_coords[i]: all_counties[i] for i in range(len(unique_coords))}

In [24]:
# map dictionary values onto df
noaa_w_counties['COUNTY'] = noaa_w_counties['GEOM'].map(county_dict)

In [25]:
# take a look at new df
noaa_w_counties.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,CLDD,DP01,DP10,...,EMXP,EMXT,HTDD,PRCP,SNOW,TAVG,TMAX,TMIN,GEOM,COUNTY
0,USW00003144,"IMPERIAL CO AIRPORT, CA US",32.83417,-115.57861,-17.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"32.83417,-115.57861",Imperial County
1,USW00023275,"UKIAH MUNICIPAL AIRPORT, CA US",39.12583,-123.20083,183.2,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"39.12583,-123.20083",Mendocino County
2,USW00023190,"SANTA BARBARA MUNICIPAL AIRPORT, CA US",34.42580,-119.84250,2.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34.4258,-119.8425",Santa Barbara County
3,USW00093209,"PASO ROBLES MUNICIPAL AIRPORT, CA US",35.66970,-120.62830,246.9,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"35.6697,-120.6283",San Luis Obispo County
4,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",38.50380,-122.81020,34.7,2020-11-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38.5038,-122.8102",Sonoma County

In [26]:
noaa_w_counties.to_csv('noaa_w_counties.csv', index=False)

---
# Section 3

---
## Data Cleaning

---
# Section 4
---
## EDA

---
# Section 5
---
## (section focus)